body{
    background-color: aliceblue;
     color: #212529;
}
.currentHeader{
    color: #6c757d;
    padding-right: 10px;
}
.fcImages{
    height:100px;
    width:100px;
}
#currentImg{
    height: 100px;
    width:100px;
}
#cityName{
    color: black;
}
#logo{
    background-color:#212529;
    color:whitesmoke;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}