body{
    background-color: aliceblue;
     color: #212529;
}
.currentHeader{
    color: #6c757d;
    padding-right: 10px;
}
.fcImages{
    height:100px;
    width:100px;
}
/* #criteria{} */
#currentImg{
    height: 100px;
    width:100px;
}
#cityName{
    color: black;
}

#logo{
    background-color:#212529;
    color:whitesmoke;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

@media only screen and (min-width:767px) and (max-width: 1055px){
#criteria{
    font-size:11px;
}
#search{
    font-size:12px;
}
}